.list {
  display: grid;
  grid-template-columns: 303px minmax(0, 1fr);
  gap: 32px 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 13px;
  line-height: 1.2;
  color: var(--c-text);
  text-align: left;
}

.item:hover span {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.icon {
  color: var(--c-brand);
}

@media (max-width: 1180px) {
  .list {
    grid-template-columns: minmax(0, 1fr);
    gap: 20px 0;
  }
}
